@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

/* >>> RESET CSS <<< */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 1.4rem;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* >>> GLOBAL CLASS <<< */

.max-width--container {
  max-width: 140rem;
  padding-inline: 2rem;
  margin: 2rem 0;
  margin-inline: auto;
}

/* === ~~> HOME PAGE <~~ === */

/* >>> HEADER <<< */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__navbar {
  width: 30rem;
  background-color: rgba(214, 214, 214, 0.5);
  padding: 0.4rem;
  border-radius: 3rem;
  position: fixed;
  top: 3vh;

  z-index: 9999;

  backdrop-filter: blur(12px);
}

.header__navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar ul li {
  padding: 1.1rem 2.5rem;
  border-radius: 3rem;
}

.header__navbar--active-link {
  background-color: #fff;
}

.header__navbar--link {
  color: #000;
  font-weight: 500;
}

/* >>> HERO SECTION <<< */

.hero__section {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.hero__title {
  font-size: 3.6rem;
  text-align: center;
  margin: 8rem auto;
}

.hero__container--tags {
  display: none;
}

/* >>> GALLERY SECTION <<< */

.gallery__section--grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.gallery__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.gallery__container--img {
  width: 100%;
  border-radius: 1rem;
}

.gallery__container--modal {
  display: none;
  justify-content: space-between;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.gallery__container--modal p {
  color: #fff;
  font-weight: 600;
}

.gallery__container--modal i {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.6rem;
  transition: all 300ms ease-in-out;
}

.arrow {
  translate: -20% 20%;
  background-color: #fff;
  color: #000;
  transform: rotate(-45deg);
}

.lock {
  color: #fff;
  background-color: #000;
}

.gallery_subtext--container {
  width: 100%;
  display: flex;
}

.gallery--subtext span {
  color: #aaa;
  padding-left: 1rem;
}

/* >>> CONTACT SECTION <<< */

.contact__section {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact--title {
  font-size: 3rem;
}

.contact--link {
  color: #aaa;
  transition: all 200ms ease-in-out;
}

.contact--link:hover {
  color: #ddd;
}

/* >>> FOOTER <<< */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 6rem;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__nav--link {
  color: #000;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.footer__nav--link:hover {
  color: #aaa;
}

.footer__nav--shop {
  position: fixed;
  bottom: 3vh;
  background: #000;
  padding: 1.2rem 3rem;
  border-radius: 3rem;
  color: #fff;
}

/* === ~~> HOME PAGE MEDIA QUERIES <~~ === */

/* >>> DESKTOP <<< */

@media only screen and (min-width: 780px) {
  .hero__section {
    height: 80vh;
  }

  .max-width--container {
    padding-inline: 4rem;
    margin-inline: auto;
  }

  .hero__title {
    font-size: 7rem;
    width: 70%;
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero__container--tags {
    display: flex;
    gap: 1rem;
  }

  .hero--tags {
    background: #f3f2f1;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    text-align: center;
  }

  .tag-clean {
    background: none;
  }

  .gallery__section--grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
  }

  .gallery-link,
  .gallery-lock {
    position: relative;
  }

  .gallery__container--modal {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 1rem;
    padding: 2rem;
    backdrop-filter: blur(7px);
  }

  .gallery-link:hover img,
  .gallery-lock:hover img {
    filter: brightness(70%);
  }

  .gallery-link:hover .gallery__container--modal,
  .gallery-lock:hover .gallery__container--modal {
    opacity: 1;
  }

  .gallery-link:hover .gallery__container--modal i,
  .gallery-lock:hover .gallery__container--modal i {
    translate: 0% 0%;
  }

  .gallery__container--modal p span {
    display: block;
    color: #ccc;
  }

  .gallery_subtext--container {
    display: none;
  }

  .contact__section {
    height: 50vh;
  }

  .contact--title {
    font-size: 3.6rem;
  }

  .footer {
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .footer__nav--shop {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* === ~~> PROFILE PAGE <~~ === */

.perfil__photos--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.gallery__container--img-one {
  width: 100%;
  height: 320px;
  background-image: url(../img/pc.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1.5rem;
}

.gallery__container--img-two {
  width: 100%;
  height: 320px;
  background-image: url(../img/familia.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1.5rem;
  display: none;
}

.about__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 2rem;
}

.profile--tag-title {
  background: #f3f2f1;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-align: center;
}

.about__heading {
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: center;
}

.experience__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 2rem;
}

.experience__container--heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 7rem;
}

.profile__heading {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

.experience__container--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6rem;
}

.experience__container--card {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.experience--gray {
  font-size: 1.4rem;
  color: #8d8d8d;
  font-weight: 600;
}

.experience--title {
  font-size: 2rem;
}

.experience__client--grid {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7rem;
  margin-bottom: 6rem;
}

.experience__container--img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience__client--img {
  filter: invert(100);
  width: 200px;
}

@media only screen and (min-width: 780px) {
  .perfil__photos--grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 4rem auto 10rem;
  }
  .gallery__container--img-one,
  .gallery__container--img-two {
    display: block;
    height: 550px;
  }

  .about__section {
    margin-bottom: 8rem;
  }

  .about__heading {
    width: 60%;
    font-size: 3.5rem;
    line-height: 1.2;
    text-align: center;
  }

  .profile__heading {
    font-size: 3.5rem;
  }

  .experience__container--grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .experience--title {
    font-size: 2.3rem;
  }

  .experience__client--grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* === ~~> CONTACT PAGE <~~ === */

.contact-page__section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 17rem);
}

.contact-page__container--headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-page--title {
  font-size: 3.5rem;
  text-align: center;
}

@media only screen and (min-width: 780px) {
  .contact-page__section {
    height: calc(100vh - 10.7rem);
  }
  .contact-page--title {
    font-size: 5rem;
  }
}
